body {
    font-weight: $regular;
    line-height: 1.6;
    font-family: $poppins-font
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: $light;
    font-family: $poppins-font
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ul {
    margin-bottom: 0;
}

p {
    font-size: 15px;
    color: #1d1d1d;
    line-height: 24px;
    font-family: $poppins-font;
    font-weight: $extra-light;
}

hr {
    border-bottom: 1px solid #ddd;
}

.fi:before {
    margin-left: 0;
}

a:hover,
a:focus,
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.navbar.navbar-expand-lg {
    padding: 0;
}

figure {
    margin: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset !important;
}

.section-title-lg {
    font-size: 28px;
    color: $black;
    text-align: center;
    font-weight: $bold;
}