.slick-initialized .slick-slide {
    overflow: hidden !important;
}

body {
    overflow-x: hidden !important;
    font-family: $poppins-font;
}

.gap-bottom {
    margin-bottom: 60px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #fefefe;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #fefefe;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $primary-color;
}

::selection {
    background: #5957ea;
    color: #fff;
}

select option {
    font-size: 14px;
    font-weight: 300;
    &:hover {
        box-shadow: inset 20px 20px #00f;
    }
}

.is-relative {
    position: relative;
}

.is-absolute {
    position: absolute;
}

.col-count-2 {
    column-count: 2;
}

.col-count-3 {
    column-count: 3;
}

.col-count-4 {
    column-count: 4;
}

.col-count-5 {
    column-count: 5;
}

.modal-backdrop.show {
    opacity: .55;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.section-gutter {
    padding: 75px 0;
    position: relative;
    overflow: hidden;
}

.bg-white {
    background: #fff !important;
}

.bg-light {
    background: #F7F8F9 !important;
}

.section-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
    color: #1B1C4A;
}

.section-title-sm {
    font-size: 24px;
    font-weight: 600;
    color: $black;
    margin-bottom: 30px;
}

.slick-slide:focus {
    outline: none;
    border: none;
}

.hidden {
    display: none !important;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

option:checked,
option:hover {
    color: $white;
}

textarea {
    height: auto !important;
}

.row.no-gutter {
    margin-right: -5px;
    margin-left: -5px;
}

.row.no-gutter>[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    height: 45px;
    border-radius: 0;
    background: #fff;
    border-color: #E9EAEC;
    font-size: 14px;
    font-weight: 200;
    @include transition(0.3s ease);
    &:focus {
        box-shadow: none !important;
        outline: none !important;
        @include transition(0.3s ease);
        border-color: #bdbdbd;
    }
}

.btn-outline {
    border: 1px solid $black;
    color: $light-primary-color;
    padding: 10px 22px;
    height: 55px;
    line-height: 35px;
    border-radius: 0;
    font-size: 16px;
    font-weight: $light;
    @include transition(0.3s ease);
    &:hover,
    &:focus {
        @include transition(0.3s ease);
        box-shadow: none;
        outline: none;
        color: $light-primary-color;
    }
}

.btn-black {
    @extend .btn-outline;
    background: $black;
    color: $white;
    &:hover,
    &:focus {
        background: darken($black, 8%);
        @include transition(0.3s ease);
        box-shadow: none;
        outline: none;
        color: $white;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid #ececec;
}

.list-inline {
    li {
        display: inline-block;
    }
}

label {
    font-weight: 400;
    font-size: 14px;
}

.form-control {
    border-color: #afb3bb;
}

figure {
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.cstm-rad input[type=radio] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    position: relative;
    outline: 0;
    margin-top: 0;
    cursor: pointer;
    @include transition(0.2s ease);
}

.cstm-rad input[type=radio]:before {
    content: '';
    font-family: Ionicons !important;
    font-size: 22px;
    display: inline-block;
    margin-right: 8px;
    height: 18px;
    width: 18px;
    border: 2px solid #c5c5c5;
    border-radius: 50%;
    @include transition(0.2s ease);
}

.cstm-rad input[type=radio]:checked:before {
    content: "\f14a";
    font-family: Ionicons !important;
    color: #f9951e;
    border: transparent;
    height: inherit;
    width: inherit;
    font-size: 22px;
    @include transition(0.2s ease);
}

.onoffswitch {
    float: right;
    position: relative;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none !important;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #F0F0F0;
    border-radius: 40px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    font-size: 11px;
    color: white;
    font-weight: 300;
}

.onoffswitch-inner:before {
    content: "One Way";
    padding-left: 8px;
    color: #fff;
}

.onoffswitch-inner:after {
    content: "Two way";
    padding-right: 12px;
    background-color: #363535;
    color: #ffffff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 28px;
    height: 28px;
    margin: 5.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    border-radius: 80%;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

//custom checkbox
.form-group.custom-checkbox {
    margin-bottom: 20px;
}

.form-group.custom-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    transition: 0.3s all ease;
    cursor: pointer;
}

.form-group.custom-checkbox.block-check label {
    margin: 5px 0;
    display: block;
}

.form-group.custom-checkbox label {
    position: relative;
    cursor: pointer;
    transition: 0.3s all ease;
    margin: 15px 0;
}

.form-group.custom-checkbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #C9C9C9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s all ease;
}

.form-group.custom-checkbox input:checked+label:before {
    border: 2px solid #000;
    transition: 0.3s all ease;
}

.form-group.custom-checkbox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: 0.3s all ease;
}

.custom-checkbox a {
    color: #091D70;
    font-weight: 500;
    &:active,
    &:focus,
    &:visited,
    &:hover {
        color: #091D70;
    }
}

form .form-group-title h5 {
    background: #EEF2FC;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.hav-vector {
    background: url("../images/city-vector.svg");
    background-repeat: no-repeat;
    background-position: 110% 141%;
}

.date-time-list {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #d5d5d5;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #e6e6e6;
    }
}