$primary-color: #333347 !default;
$light-primary-color:#333347 !default;
$black: #000;
$light-gray: #F7F8F9;
$white: #fff;
$transparent: transparent;
//Typography
$poppins-font: 'Poppins',
sans-serif !important;
$dancing-font: 'Dancing Script',
cursive;
$extra-light: 300;
$light: 400;
$regular: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;