html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Muli", sans-serif !important;
}

.booking-templete .thank-banner {
    background: url(../assets/images/thank.png) center;
}

.thank-wrap {
    text-align: center;
}

body {
    background: #fff;
}
.thank-wrap > .fa {
    height: 100px;
    width: 100px;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 92px;
    font-size: 50px;
    color: #009688 !important;
    border: 2px solid #009688 !important;
    margin: 0 auto;
}

.thank-wrap h1 {
    font-size: 36px;
    margin: 40px 0 20px 0;
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: 600;
}

.thank-wrap p {
    font-size: 16px;
    padding: 20px 0;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #4e4e4e;
}

.thank-wrap .btn-ghost {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 30px;
}

.thank-wrap .btn-ghost .fa {
    margin-left: 10px;
}

/*.booking-templete .booking-banner {
    background: url(../assets/images/book.png) center; 
}

.ft-fleet.booking-wrapper{
    background: #efefef;
}
.ft-fleet.booking-wrapper .fleet-slider a{
    color: #292525;
}
.ft-fleet.booking-wrapper .fleet-slider figure{
    border: 2px solid #fff;
    padding: 10px;
    background: #fff;
    transition: 0.5s;
    height: 190px;
}
.ft-fleet.booking-wrapper .fleet-slider figure.active{
    border: 2px solid #259ABD;
    box-shadow: -2px 1px 10px #ddd;

}
.ft-fleet.booking-wrapper .fleet-slider figure:hover{
    border: 2px solid #259ABD;
    transition: 0.5s;
}
.ft-fleet.booking-wrapper .fleet-slider a span{
    color: #0077cc;
    font-size: 18px;
    font-weight: 700;
}
.selected-fleet{
    background: #fff;
    margin-top: 40px;
}
.selected-fleet figure figcaption span{
    margin-right: 20px;
}
.selected-fleet figure figcaption span .fa{
    padding-right: 5px;
    color: #259ABD;
}
.selected-fleet h2{
    font-size: 24px;
    font-weight: 700;
}
.selected-fleet .selected-fleet-info  {
        border-left: 2px solid #ddd;
    padding: 20px 0 20px 40px;
}
.selected-fleet .selected-fleet-info ul  {
margin-bottom: 20px;
    
}
.selected-fleet .selected-fleet-info p  {
letter-spacing: 0.3px;
line-height: 24px;
}
.selected-fleet .selected-fleet-info h3{
    margin-bottom: 20px;
}
.selected-fleet .selected-fleet-price .discount{
    text-decoration: line-through;
    margin-right: 20px;
      font-size: 30px;
    font-weight: 500;
    color: #000;
    
}
.selected-fleet .selected-fleet-price h3{
      font-size: 40px;
    font-weight: 500;
    color: #0077cc;
    margin-bottom: 20px;
}
.selected-fleet .selected-fleet-price .price-includes h4{
      font-size: 18px;
    color: #9e9e9e;
    margin-bottom: 20px;
}
.selected-fleet .selected-fleet-price .price-includes li:before{
      content: "\f101";
      font-family: fontawesome;
      margin-right: 5px;
}
.selected-fleet .selected-fleet-price .price-includes li{
      border-top: 1px solid #e0e0e0;
      padding: 20px 0;
}
.selected-fleet .selected-fleet-price .price-includes li:last-child{
      border-bottom: 1px solid #e0e0e0;
}
.quote-system-wrap .quote-sys-wrapper .sidebar-quote{
   
    border: 2px solid #ddd;
    padding: 20px;

}
.quote-system-wrap .quote-sys-wrapper .sidebar-quote li{
    border-bottom: 1px solid #e0e0e0;
      padding: 20px 0;
}
.quote-system-wrap .quote-sys-wrapper .sidebar-quote li .fa{
    padding-right: 10px;
}

.quote-system-wrap .quote-sys-wrapper .sidebar-quote li:last-child{
    border-bottom: 0;
}
.quote-system-wrap .quote-sys-wrapper .form-wrapper{
  border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
#form-booking legend{
font-size: 24px;
font-weight:500;
}
#form-booking input, .form-wrapper select{
height: 45px;
border-radius: 0;
}
#form-booking input#check_child, #form-booking .radio input, #form-booking .terms input{
    height: 13px;
}
#form-booking textarea{
height: 45px;
border-radius: 0;
}
#form-booking textarea{
height: 45px;
border-radius: 0;
}*/

/*dashboard css*/

/**********************************DASHBOARD CSS**********************************/

.main-body {
    /*height: 700px;*/
    overflow: hidden;
    background: #fdfdfd;
}

/*.main-body .container-fluid { padding: 0; }*/

.main-body .container-fluid > .row {
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main-body .container-fluid > .row > div[class*="col-md-"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
}

.dash-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    z-index: 999;
    background: #31353d;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
}

.dash-header .container-fluid {
    width: 100%;
}

.dash-header .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 60px;
}

.dash-header .row .col-md-4:last-child {
    justify-content: flex-end;
}

.dash-header .row div[class^="col-md-"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.dash-header .top-acc {
    margin: 0;
}

.dash-header .top-acc > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.dash-header .top-acc .acc-img img {
    width: auto;
    height: 100%;
}

.dash-header .top-acc .dropdown > a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.dash-header .top-acc .fa-bars {
    color: #fff;
}

.dash-header .top-acc .dropdown > a .fa {
    margin-right: 10px;
    color: #0077cc;
}

.dash-header .top-acc .dropdown > a .fa:first-of-type {
    font-size: 22px;
}

.dash-header .top-acc .dropdown .dropdown-menu {
    top: 44px;
    left: -75px;
    border-radius: 0;
}

.dash-header .top-acc .acc-img {
    height: 45px;
    width: 45px;
    border: 1px solid #555;
    border-radius: 50%;
    overflow: hidden;
}

.dash-header .top-acc .acc-img img {
    width: auto;
    height: 100%;
}

.dash-header .top-acc .btn {
    background: transparent;
    padding: 0;
    font-size: 21px;
    margin-left: 5px;
}

.dash-header .top-acc .btn:focus {
    outline: 0;
    box-shadow: none;
}

.dash-header .logo img {
    margin: 0;
    width: 100px;
}

.top-acc li.dropdown:hover .dropdown-menu {
    display: none;
}

.modal .logo img {
    width: 150px;
}

.dash-nav {
    width: 100%;
    background: whitesmoke;
    /*@include box-shadow(2px 0px 10px 0px );*/
}

.dash-nav .navbar-default {
    background: #fff;
    border-radius: 0;
    margin-bottom: 0;
    background: transparent;
    border: none;
}

.dash-nav .navbar-default .dropdown-menu {
    position: relative;
    margin: 0;
    z-index: 999;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 12px;
}

.dash-nav .navbar-default .dropdown-menu > li > a {
    padding: 10px;
    font-weight: 300;
}

.dash-nav .navbar-nav {
    float: none;
}

.dash-nav .navbar-nav > li {
    float: none;
}

.dash-nav .navbar-nav > li > a {
    display: block;
    border-bottom: 1px dotted #ddd;
}

.dash-nav .navbar-nav > li > a:hover,
.dash-nav .navbar-nav > li > a:focus {
    color: #fff;
    background: #0077cc;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.dash-nav .navbar-nav > li > a i {
    padding-right: 10px;
}

.dash-nav .navbar-nav > .active > a {
    color: #fff;
    background: #0077cc;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.dash-nav .navbar-nav > .active > a:hover,
.dash-nav .navbar-nav > .active > a:focus {
    color: #fff;
    background: #0077cc;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.dash-nav .navbar-collapse {
    padding: 0;
}

.dash-m-body {
    min-height: 600px;
    /* overflow-y: scroll; */
    padding: 30px;
    margin: 50px;
    width: 100%;
    background: #fdfdfd;
}

.dash-m-body .btn-dark {
    padding: 16px 20px;
}

#change-password .modal-content,
#edit-profile .modal-content {
    padding: 20px;
    margin: 10px;
}

.dash-title {
    padding: 12px 15px;
    /*background: #fff;*/
    border-bottom: 1px solid #e6e6e6;
}

.dash-title h2 {
    font-size: 24px;
}

.dash-body {
    padding: 15px;
}

.dash-body table {
    background: #fff;
}

.dash-body .btn-inline {
    margin-top: 20px;
    text-align: center;
}

.dash-body .btn-inline .btn {
    font-size: 14px;
}

.profile li {
    padding: 8px 0;
    border-bottom: 1px dotted #ddd;
}

.profile li:last-child {
    border-bottom: 0;
}
.dash-m-body {
    min-height: 600px;
    padding: 30px;
    margin: 50px;
    width: 100%;
    background: #fdfdfd;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
}

.profile li h4 {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
}
.dash-m-body .btn-custom {
    background: #0077cc;
    color: #fdfdfd;
    padding: 11px 15px;
}
.profile li h4 i {
    color: #0077cc;
    width: 20px;
}

.profile li p {
    margin-bottom: 0;
    font-size: 14px;
    color: #666666;
    padding-left: 25px;
}

.profile figure {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background: #0077cc;
}

.profile figure img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.driver-doc .form-group {
    border-bottom: 1px solid #ddd;
    min-height: 70px;
    background: #f1f1f1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px 15px;
}
.main-body .card-wrapper{
    background: transparent !important;
}

.card-wrapper .card-item {
    background: #fff;
    /*padding: 15px;*/
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 40px;
}

.card-wrapper .card-item:hover,
.card-wrapper .card-item:focus {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.card-wrapper .card-item > ul > li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.card-wrapper .card-item > ul > li:last-child {
    border-bottom: none;
}

.card-wrapper .card-item > ul > li > h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    color: #666666;
    font-size: 16px;
}

.card-wrapper .card-item > ul > li > h4 span {
    font-weight: 400;
}

.card-wrapper .card-item label {
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 75px;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
    display: block;
    font-weight: 300;
}

.card-wrapper .card-item p {
    margin-bottom: 0;
    color: #666666;
}

.card-wrapper .card-item .link {
    font-size: 18px;
    text-transform: uppercase;
    color: #262626;
    font-weight: 300;
}

.card-wrapper .card-item .link i {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 18px;
    padding-left: 10px;
}

.card-wrapper .card-item .link:hover,
.card-wrapper .card-item .link:focus {
    text-decoration: none;
}

.card-wrapper .card-item .link:hover i,
.card-wrapper .card-item .link:focus i {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #000;
    padding-left: 15px;
}

.card-wrapper .card-item .media i{
    font-size: 24px;
    color: #3c3c3c;
}
.card-wrapper .card-item .media .media-body h4 {
    color: #2a2a2a;
}
.card-wrapper .card-item .media .media-body h5 {
    margin-bottom: 5px;
    color: #131313;
    font-size: 15px;
}

.card-wrapper .card-item .from label {
    background: #0077cc;
}

.card-wrapper .card-item .to label {
    background: #009688;
}

.company-profile {
    padding: 45px 0;
}

.company-profile .nav-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0;
}

.company-profile .nav-tabs > li > a {
    border: none;
    border-radius: 0;
    padding: 12px 24px;
}

.company-profile .nav-tabs > li > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0077cc;
}

.company-profile .nav-tabs > li.active > a {
    color: #fff;
    background-color: #0077cc;
}

.company-profile .nav-tabs > li.active > a:hover,
.company-profile .nav-tabs > li.active > a:focus {
    cursor: pointer;
    background-color: #0077cc;
    border: none;
    border-bottom-color: transparent;
}

.company-profile .dashboard-content {
    background: #fff;
    padding: 30px;
    border: 1px solid #ddd;
}

.company-profile .dashboard-content > h3 {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 22px;
}

.company-profile .dashboard-content h2 {
    padding: 8px 0;
    color: #0077cc;
}

.company-profile .dashboard-content .form-horizontal .control-label {
    text-align: left !important;
}

.dash-body .table tr > th {
    background: #0077cc;
    color: #fff;
    text-align: center;
    font-weight: 500;
    vertical-align: middle;
}

.dash-body .form-wrapper.plain-form {
    margin-top: 40px;
}

.dash-body .form-wrapper.plain-form .form-control {
    height: 45px;
    background: #f5f5f5;
}

.dash-m-body .btn-custom {
    background: #0077cc;
    color: #212121;
}

.side-nav li a:hover {
    color: #fff;
}

.modal-header .logo {
    margin-left: 50px;
}

.side-nav li a:hover {
    background: #0077cc !important;
    color: #fff;
}

.dash-header .logo {
    width: 100%;
}

.dshbd-title h1 {
    font-size: 18px;
    background: #ececec;
    border-left: 4px solid #0f3369;
    padding: 10px 20px;
    margin-bottom: 80px;
}

.btn-green:hover,
.btn-green {
    background: #25721c !important;
    color: #fff;
    background: 10px 20px;
    border-radius: 0;
    font-size: 16px;
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
}

.dshbd-profile-detail li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dshbd-profile-detail li:last-child {
    border-bottom: 0;
    margin-bottom: 0px;
}

.dshbd-ft-end a {
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.modal-dshbd-edit-detail .close {
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 99;
}

.dash-header ul.list-inline a {
    color: #2a2a2a;
}

body {
    overflow-x: hidden;
}

.logo a {
    font-size: 18px;
    color: #fff;
}
.main-body {
    min-height: 88vh;
    overflow: hidden;
    background: #fdfdfd;
}

.modal-dshbd-vdetail-delete .modal-content {
    padding: 20px;
}

.modal-dshbd-vdetail-delete .modal-dialog h2 {
    font-size: 20px;
}


.modal-dshbd-vdetail-delete .modal-dialog h3 {
    font-size: 16px;
} 
.custom-modal .form-group {
    background: #ffffff;
    margin-bottom: 8px;
    padding: 0;
    position: relative;
}
.custom-modal .form-group .form-control {
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    background: #f8f8f8;
}



.cstm-modal .modal-dialog,
.cstm-modal .modal-content {
    padding: 20px;
}

.cstm-modal h2 {
    font-size: 20px;
}
.modal.right .modal-body {
    margin-top: 0 !important;
}

.bootbox-alert .modal-body {
    padding: 30px;
}
footer {
    background: #31353d;
    padding: 15px 0;
}
footer p {
    color: #f5f5f5;
}

.modal-dialog .modal-content .close {
    color: #0077cc !important;
    opacity: 1;
}
.side-nav li a i {
    color: #fff;
    font-size: 20px;
}