// TYPOGRAPHY
$font-semiLight: "Segoe UI Semilight";
$font-light: "Segoe UI Light";
$font-regular: "Segoe UI Regular";
$font-italic: "Segoe UI Italic";
$font-semibold: "Segoe UI Semi Bold";
$font-bold: "Segoe UI Bold";
// COLOR
$primary-color: #0077CC;
$dark-blue-color: #253754;
$secondary-color: #B75E1F;
$grey-color: #535151;
$white: #fff;
$black: #000;
@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
    & * {
        font-family: $font-regular;
    }
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: $font-regular;
}

a {
    color: $dark-blue-color;
    &:hover {
        color: $dark-blue-color;
        text-decoration: underline;
    }
}

.btn {
    text-transform: capitalize;
    box-shadow: none;
    font-family: 'Arial', sans-serif !important;
    &:hover,
    &:focus {
        box-shadow: none;
    }
}

.btn-block {
    width: 100% !important;
}

p strong {
    font-family: 'Segoe UI Medium', sans-serif;
}

// .btn_main {
//     background: #b79334;
//     color: #fff;
//     font-size: 16px;
//     width: 100%;
//     display: block;
//     border-radius: 3px;
//     font-family: $font-regular;
//     &:hover,
//     &:focus {
//         background-color: lighten($primary-color, 5%);
//         color: #fff;
//     }
// }
.slick-slide:focus {
    outline: none;
}

.form-check-input {
    margin-top: 20px;
}

.form-group {
    background: #1c2c46;
    margin-bottom: 8px;
    padding: 10px 15px 20px;
    position: relative;
    .addon {
        position: absolute;
        left: 25px;
        top: 48px;
        img {
            width: 20px;
            height: 16px;
        }
    }
    .form-control {
        border-color: transparent;
        box-shadow: none;
        opacity: 1;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
        width: 100%;
        height: 44px;
        border-radius: 4px;
        padding: 8px;
        font-size: 15px;
        padding-left: 35px;
    }
    .form-row {
        input {
            padding-left: 40px;
        }
        .addon {
            left: 15px;
            top: 36px;
        }
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 90%;
    }
}

.container-fluid {
    max-width: 95%;
}

.btn-ghost {
    box-shadow: none;
    background: transparent;
    border: 2px solid $primary-color;
    font-size: 16px;
    color: $grey-color !important;
    text-transform: capitalize;
    padding: 9px 24px;
    display: block;
    margin-right: 46px;
    border-radius: 4px;
    font-family: $font-semibold;
    @include transition(0.3s ease);
    &:hover,
    &:focus {
        box-shadow: none;
        color: $white !important;
        @include transition(0.3s ease);
        background-color: $primary-color;
        svg path {
            fill: $white !important;
            stroke: $white !important;
        }
    }
}

.form-control {
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent;
    }
}

body {
    background: url(../img/body-bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

section h2 {
    text-align: center;
    font-size: 34px;
    color: #1e1e1e;
    font-family: $font-light;
}

article {
    h4 {
        font-size: 19px;
        font-family: $font-semibold;
        color: $grey-color;
    }
    p {
        font-family: $font-semiLight;
        font-size: 16px;
        line-height: 22px;
        color: #6e6e6e;
    }
}

.form-control:disabled,
.form-control[readonly] {
    background-color: $white;
    border-radius: 0;
    border: 0;
}

header {
    background: #fff;
    position: relative;
    z-index: 9999;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    .dropdown:hover {
        .dropdown-menu {
            display: block;
        }
    }
    .dropdown-menu {
        border: transparent;
        padding: 0 24px;
        margin-top: 0px !important;
        border-radius: 0;
        .dropdown-item {
            padding: 5px 0;
        }
        .dropdown-item:hover {
            background: transparent;
            color: $primary-color;
        }
    }
    .logo {
        margin: 0;
        margin-top: 20px;
    }
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-right {
    text-align: right;
    h4 {
        font-family: 'oswald', sans-serif;
        font-weight: 500;
        font-size: 19px;
        color: $dark-blue-color;
    }
    .navbar {
        background: transparent !important;
        box-shadow: none;
        text-align: right;
        float: right;
        padding: 0;
        .nav-link {
            font-size: 16px;
            margin-left: 20px;
            padding: 12px 10px;
            &:hover {
                color: $primary-color !important;
            }
        }
    }
    .cta {
        display: flex;
        margin-top: 8px;
        align-items: center;
        justify-content: flex-end;
        img {
            margin-left: 25px;
            display: inline-block;
            margin-right: 5px;
        }
        a {
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            color: $dark-blue-color;
            display: flex;
            align-items: center;
        }
    }
}

.widget {
    background: $dark-blue-color;
    margin-top: 180px;
    padding: 30px 20px;
    min-height: 550px;
    box-shadow: -2px -1px 7px 2px #252424;
    h2 {
        font-size: 24px;
        color: #eaeaea;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .toggle img {
        width: 20px;
        margin-top: -11px;
    }
    label {
        width: 100%;
        font-size: 13px;
        color: #bfbfbf;
    }
    .payment_card {
        margin-top: 30px;
        h3 {
            font-size: 18px;
            font-weight: 300;
            font-family: 'Oswald', sans-serif;
            color: #eee;
            margin-bottom: 5px;
        }
        img {
            height: 50px;
        }
    }
    .btn {
        &.btn-default {
            background: #FFC107 !important;
            border-radius: 5px;
            color: #151515;
            padding: 15px 15px;
            font-weight: 600;
            &:hover,
            &:focus {
                background: #FFC107 !important;
            }
            img {
                filter: invert(1);
                margin-top: -3px;
                width: 19px;
                margin-left: 5px;
                height: 14px;
            }
        }
        width: 45.45%;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        color: #eee;
        margin-top: 10px;
        height: 50px;
        img {
            width: 19px;
            margin-left: 5px;
            height: 14px;
        }
        &.btn-main {
            background: $primary-color;
        }
    }
    .add_via {
        font-size: 14px;
        color: #eee;
        margin-bottom: 8px;
        display: block;
        img {
            width: 12px;
        }
    }
}

.fleet_sec {
    margin-top: 180px;
    background: #ffffffeb;
    padding: 30px 20px;
    text-align: center;
    min-height: 550px;
    box-shadow: -2px -1px 7px 2px #2524242b;
    h3 {
        font-size: 20px;
        font-weight: 700;
        color: $dark-blue-color;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 0;
    }
    .fleet_item {
        display: flex;
        align-items: center;
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
        }
        article {
            margin-left: 20px;
            text-align: left;
            h4 {
                font-size: 15px;
                margin: 0;
                margin-bottom: 0;
                color: #253754;
                font-family: "Segoe UI Bold";
            }
            p {
                font-family: "Segoe UI Regular";
                font-size: 13px;
                line-height: 1.4;
                margin: 0;
                color: #1a1a1a;
            }
        }
        img {
            width: 100px;
        }
    }
}

.card {
    background: #ffffffeb;
    padding: 30px 20px;
    box-shadow: -2px -1px 7px 2px #2524242b;
    border-radius: 0;
    margin-top: 30px;
}

h2.title {
    font-size: 20px;
    font-weight: 700;
    color: $dark-blue-color;
    margin-bottom: 25px;
}

.why_us {
    background: #fff;
    padding: 30px 20px;
    margin-top: 30px;
    box-shadow: -2px -1px 7px 2px #2524242b;
    li {
        font-size: 18px;
    }
}

.checklist li {
    position: relative;
    padding-left: 30px;
    line-height: 1.4;
    color: #4e4e4e;
    margin: 7px 0;
    font-family: "Segoe UI Regular";
    font-size: 16px;
    &:before {
        content: '';
        height: 18px;
        width: 18px;
        left: 0;
        top: 5px;
        background: url(../img/tick.svg) no-repeat center top;
        position: absolute;
    }
}

.advantage {
    margin-top: 30px;
    box-shadow: -2px -1px 7px 2px #2524242b;
    border-radius: 0;
    .checklist li {
        margin: 12px 0;
        &:before {
            content: '';
            height: 5px;
            width: 5px;
            top: 9px;
            background: #1a1a1a;
        }
    }
}

.intro {
    text-align: center;
    padding: 30px 40px;
}

.footer {
    background: #253754f0;
    margin-top: 70px;
    padding: 30px;
    color: #ddd;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        li {
            padding: 0 12px;
            font-size: 14px;
            line-height: 12px;
            border-left: 1px solid #ccc;
            color: #ddd;
            &:first-child {
                border-left: 0;
                padding-left: 0;
            }
            a {
                color: #ddd;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.vehicle-select {
    input[type=checkbox],
    input[type=radio] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 2px 0 2px 7px;
        height: 18px;
        width: 18px;
        position: relative;
        top: 3px;
        right: -8px;
    }
    iframe {
        width: 100%;
        height: 150px;
        // border-top: 2px solid #07c !important;
    }
    h4 {
        font-size: 16px;
        font-family: 'Segoe UI Medium', sans-serif;
        color: #eaeaea;
        margin-top: 20px;
    }
    .fleet_price {
        background: #344a6d;
        padding: 15px;
        border: 1px solid #33507d;
        h5 {
            color: #eff0f1;
            font-size: 18px;
            margin-bottom: 15px;
        }
        p {
            font-size: 13px;
            color: #d2d2d2;
            margin-top: 4px;
            margin-bottom: 0;
        }
    }
    .btn-main {
        font-family: 'Arial', sans-serif;
        padding: 11px;
        margin: 4px 0;
        background: #ffc107 !important;
        width: 145px;
        letter-spacing: 0.4px;
        font-weight: 500;
        float: right;
        border-radius: 5px;
        color: #171717;
        font-weight: 600;
        &:hover,
        &.checked {
            background-color: #ffc107 !important;
        }
    }
}

.button-inline {
    display: flex;
    justify-content: space-between;
    .btn-main {
        font-family: 'Arial', sans-serif;
        background: #0077CC !important;
        width: 50%;
        font-size: 15px;
        font-weight: 600;
        color: #eee;
        margin-top: 10px;
        padding: 16px 10px;
        border-radius: 6px;
        &:hover,
        &:focus {
            background: #0077CC !important;
        }
    }
}

.btn-main {
    font-family: 'Arial', sans-serif;
    padding: 13px;
    margin: 4px 0;
    background: #0077CC !important;
    border-radius: 2px;
    &:hover,
    &.checked {
        background-color: $primary-color !important;
    }
}

.journey-info {
    background: #eee;
    margin-bottom: 5px;
    h2 {
        margin: 0;
        font-size: 15px;
        color: #1a1a1a;
        span {
            background: $primary-color;
            height: 40px;
            top: 0;
            padding: 6px 23px;
            font-size: 14px;
            display: inline-block;
            line-height: 28px;
            width: 100px;
            color: #fff;
            position: relative;
            margin-right: 22px;
            font-family: 'Segoe UI Medium', sans-serif;
            &:after {
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid #0077CC;
                position: absolute;
                right: -8px;
                top: 12px;
                content: '';
            }
        }
    }
}

.btn_main {
    padding: 8px 20px;
    border-radius: 0;
    background: #3c557d;
    font-size: 18px;
    color: #fff;
    font-family: 'Segoe UI Semi Bold', sans-serif;
    &:hover {
        background: #3c557d;
    }
    span {
        float: right;
    }
}

.card-wrapper {
    background: #3c557d;
    padding: 20px;
    color: #eee;
    p {
        margin: 0;
        font-family: 'Segoe UI Medium', sans-serif;
    }
}

.confirm-booking .btn-main {
    float: none;
    background: #07c !important;
    width: 100%;
}

.journey-details {
    .form-group {
        background: #1c2c46;
        margin-bottom: 0;
        padding: 10px 15px 5px;
        position: relative;
        &:last-child {
            padding-bottom: 15px;
        }
    }
}

textarea {
    height: auto !important;
}

.inner-pg {
    h1 {
        font-size: 30px;
    }
    .main-intro {
        margin-top: 180px;
    }
    .area ul {
        column-count: 4;
        margin-top: 20px;
    }
    .checklist li {
        &:before {
            content: '';
            height: 5px;
            width: 5px;
            top: 9px;
            background: #1a1a1a;
        }
    }
    .contact {
        li {
            margin-top: 5px;
            img {
                width: 15px;
            }
        }
    }
    table.table {
        margin-top: 15px;
        thead th {
            border-top: none;
            padding: 10px 9px;
            background: $primary-color;
            color: #eee;
        }
        .btn {
            margin: 0 !important;
            padding: 10px 15px !important;
        }
        tbody {
            background: #fff;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.14);
            th,
            td {
                font-weight: 600;
                color: #2a2a2a;
                font-family: 'Segoe UI Bold', sans-serif !important;
                padding: 8px 8px;
                vertical-align: middle;
            }
        }
    }
}

.contact-form {
    a {
        color: #eee !important;
        margin-top: 15px;
        display: inline-block;
        margin-bottom: 8px;
    }
    hr {
        margin: 8px 0;
    }
    p {
        margin-bottom: 0;
        color: #aeaeae;
    }
}

.contact-form .form-group {
    padding-bottom: 15px;
}

.blog-item {
    margin: 15px 0;
    background: #fff;
    padding: 15px;
    figure {
        width: 100%;
        overflow: hidden;
        margin-bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h4 {
        color: $primary-color;
    }
    p {
        color: #1a1a1a;
        margin-bottom: 7px;
        font-family: 'Segoe UI SemiLight', sans-serif;
    }
    .btn-main {
        padding: 12px 25px;
        font-size: 15px;
        color: #fff;
        border-radius: 4px;
    }
}

.blog-details .blog-item figure {
    margin-bottom: 20px;
}

#accordion {
    .card-header {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
    }
    .btn {
        margin: 0;
        display: inline-block;
        color: $primary-color;
        padding: 12px 0px;
        font-size: 18px;
        font-family: 'Segoe UI Bold', sans-serif;
        i {
            margin-left: 8px;
        }
    }
    .card-body {
        padding: 5px 0;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Segoe UI SemiLight', sans-serif;
    }
}

.dashboard {
    .contact-form {
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        margin-top: 15px;
        .form-group {
            background: #fff;
        }
        .form-control {
            background: #f8f8f8;
        }
        .btn {
            margin-top: 0;
            margin: 15px;
            color: #fff;
        }
    }
    .widget {
        padding: 0;
        .dash-nav {
            a {
                color: #cecece;
                display: block;
                padding: 11px 20px;
                font-size: 17px;
                &:hover {
                    text-decoration: none !important;
                    background: $primary-color;
                }
                &.active {
                    background: $primary-color;
                }
                i {
                    margin-right: 7px;
                }
            }
        }
    }
}

.whats_app_chat {
    position: fixed;
    right: 13px;
    bottom: 95px;
    z-index: 999999;
    svg {
        height: 50px !important;
        width: 50px !important;
    }
}

.btn-main {
    padding: 13px 25px;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
}

.blog-details .blog-item figure {
    margin-bottom: 20px;
}

#accordion {
    .card-header {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
    }
    .btn {
        margin: 0;
        display: inline-block;
        color: $primary-color;
        padding: 12px 0px;
        font-size: 18px;
        font-family: 'Segoe UI Bold', sans-serif;
        i {
            margin-left: 8px;
        }
    }
    .card-body {
        padding: 5px 0;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Segoe UI SemiLight', sans-serif;
    }
}

.dashboard {
    .contact-form {
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        margin-top: 15px;
        .form-group {
            background: #fff;
        }
        .form-control {
            background: #f8f8f8;
        }
        .btn {
            margin-top: 0;
            margin: 15px;
            color: #fff;
        }
    }
    .widget {
        padding: 0;
        .dash-nav {
            a {
                color: #cecece;
                display: block;
                padding: 11px 20px;
                font-size: 17px;
                &:hover {
                    text-decoration: none !important;
                    background: $primary-color;
                }
                &.active {
                    background: $primary-color;
                }
                i {
                    margin-right: 7px;
                }
            }
        }
    }
}

.whats_app_chat {
    position: fixed;
    right: 13px;
    bottom: 95px;
    z-index: 999999;
    svg {
        height: 60px;
        width: 60px;
    }
}

[data-tooltip] {
    position: absolute;
    right: 35px;
    z-index: 9999;
    &::before,
    &::after {
        opacity: 0;
        visibility: hidden;
        margin-top: -0.5em;
    }
    &::before {
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        top: -200%;
        left: 50%;
        margin-left: -4.75em;
        min-width: 250px;
        text-align: center;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.85);
        color: #ccc;
        font-size: 12px;
        line-height: 1.1;
        padding: 0.75em 0.95em;
    }
    &::after {
        content: "";
        border: 10px solid transparent;
        border-top-color: black;
        position: absolute;
        top: -3px;
        left: 50%;
        margin-left: -10px;
    }
    &:hover {
        cursor: help;
    }
    &:hover::before,
    &:hover::after {
        opacity: 1;
        visibility: visible;
    }
}

.info-text {
    position: relative;
}

.info-text span img {
    width: 20px;
}

.info-text span {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
}

.hidden-text {
    display: none;
    color: #ccc;
    font-size: 13px;
}

.info {
    transform-style: preserve-3d;
    transition: transform 750ms;
}

.info.rotate {
    transition: transform 750ms;
    transform: rotateX(360deg);
}