body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
}

body * {
    font-family: "Segoe UI Regular";
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Segoe UI Regular";
}

a {
    color: #253754;
}

a:hover {
    color: #253754;
    text-decoration: underline;
}

.btn {
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Arial", sans-serif !important;
}

.btn:hover,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-block {
    width: 100% !important;
}

p strong {
    font-family: "Segoe UI Medium", sans-serif;
}

.slick-slide:focus {
    outline: none;
}

.form-check-input {
    margin-top: 20px;
}

.form-group {
    background: #1c2c46;
    margin-bottom: 8px;
    padding: 10px 15px 20px;
    position: relative;
}

.form-group .addon {
    position: absolute;
    left: 25px;
    top: 48px;
}

select {
    text-indent: 5px;
}

.form-group .addon img {
    width: 20px;
    height: 16px;
}

.form-group .form-control {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    background: none 0% 0% / auto repeat scroll padding-box border-box white;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding: 8px;
    font-size: 15px;
    padding-left: 35px;
}

.form-group .form-row input {
    padding-left: 40px;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 90%;
    }
}

.container-fluid {
    max-width: 95%;
}

.btn-ghost {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid #0077cc;
    font-size: 16px;
    color: #535151 !important;
    text-transform: capitalize;
    padding: 9px 24px;
    display: block;
    margin-right: 46px;
    border-radius: 4px;
    font-family: "Segoe UI Semi Bold";
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.btn-ghost:hover,
.btn-ghost:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff !important;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background-color: #0077cc;
}

.btn-ghost:hover svg path,
.btn-ghost:focus svg path {
    fill: #fff !important;
    stroke: #fff !important;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}

body {
    background: url(../images/body-bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

section h2 {
    text-align: center;
    font-size: 34px;
    color: #1e1e1e;
    font-family: "Segoe UI Light";
}

article h4 {
    font-size: 19px;
    font-family: "Segoe UI Semi Bold";
    color: #535151;
}

article p {
    font-family: "Segoe UI Semilight";
    font-size: 16px;
    line-height: 22px;
    color: #6e6e6e;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    border-radius: 0;
    border: 0;
}

header {
    background: #fff;
    position: relative;
    z-index: 111;
    padding: 10px 0;
    position: static;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

header .dropdown:hover .dropdown-menu {
    display: block;
}

header .dropdown-menu {
    border: transparent;
    padding: 0 24px;
    margin-top: 0px !important;
    border-radius: 0;
}

header .dropdown-menu .dropdown-item {
    padding: 5px 0;
}

header .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #0077cc;
}

header .logo {
    /* margin: 15px 0; */
    position: relative;
}

header .logo a {
    position: absolute;
}

header .logo img {
    height: 122px;
    backface-visibility: hidden;
}

.nav-right {
    text-align: right;
}

.nav-right h4 {
    font-family: "oswald", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #253754;
}

.nav-right .navbar {
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
    float: right;
    padding: 0;
}

.nav-right .navbar .nav-link {
    font-size: 16px;
    margin-left: 20px;
    padding: 12px 5px;
}

.nav-right .navbar .nav-link:hover {
    color: #0077cc !important;
}

.nav-right .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.nav-right .cta img {
    margin-left: 25px;
    display: inline-block;
    margin-right: 5px;
}

.nav-right .cta a {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: #253754;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget {
    background: #253754;
    margin-top: 70px;
    padding: 30px 20px;
    min-height: 550px;
    -webkit-box-shadow: -2px -1px 7px 2px #252424;
    box-shadow: -2px -1px 7px 2px #252424;
}

.widget h2 {
    font-size: 24px;
    color: #eaeaea;
    font-weight: 500;
    margin-bottom: 20px;
}

.widget .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.widget .toggle img {
    width: 20px;
    margin-top: -11px;
}

.widget label {
    width: 100%;
    font-size: 13px;
    color: #bfbfbf;
}

.widget .payment_card {
    margin-top: 30px;
}

.widget .payment_card h3 {
    font-size: 18px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    color: #eee;
    margin-bottom: 5px;
}

.widget .payment_card img {
    height: 50px;
}

.widget .btn {
    width: 45.45%;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #eee;
    margin-top: 10px;
    height: 50px;
}

.widget .btn.btn-default {
    background: #ffc107 !important;
    border-radius: 5px;
    color: #151515;
    padding: 12px 15px;
    font-weight: 600;
    margin: 10px 10px 0 0;
    height: 45px;
}

.widget .btn.btn-default:hover,
.widget .btn.btn-default:focus {
    background: #ffc107 !important;
}

.widget .btn.btn-default img {
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-top: -3px;
    width: 19px;
    margin-left: 5px;
    height: 14px;
}

.widget .btn img {
    width: 19px;
    margin-left: 5px;
    height: 14px;
}

.widget .btn.btn-main {
    background: #0077cc;
}

.widget .add_via {
    font-size: 14px;
    color: #eee;
    margin-bottom: 8px;
    display: block;
}

.widget .add_via img {
    width: 12px;
    margin-right: 5px;
}

.fleet_sec {
    margin-top: 70px;
    background: #ffffffeb;
    padding: 30px 20px;
    text-align: center;
    min-height: 550px;
    -webkit-box-shadow: -2px -1px 7px 2px #2524242b;
    box-shadow: -2px -1px 7px 2px #2524242b;
}

.fleet_sec h3 {
    font-size: 20px;
    font-weight: 700;
    color: #253754;
}

.fleet_sec p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
}

.fleet_sec .fleet_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}

.fleet_sec .fleet_item:first-child {
    margin-top: 0;
}

.fleet_sec .fleet_item article {
    margin-left: 20px;
    text-align: left;
}

.fleet_sec .fleet_item article h4 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 0;
    color: #253754;
    font-family: "Segoe UI Bold";
}

.fleet_sec .fleet_item article p {
    font-family: "Segoe UI Regular";
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    color: #1a1a1a;
}

.fleet_sec .fleet_item img {
    width: 100px;
}

.card {
    background: #ffffffeb;
    padding: 30px 20px;
    -webkit-box-shadow: -2px -1px 7px 2px #2524242b;
    box-shadow: -2px -1px 7px 2px #2524242b;
    border-radius: 0;
    margin-top: 30px;
}


/* .main_page .container > .row > .col-md-7{
    position: sticky;
    top: 0;
} */

h2.title {
    font-size: 20px;
    font-weight: 700;
    color: #253754;
    margin-bottom: 25px;
}

.why_us {
    background: #fff;
    padding: 30px 20px;
    margin-top: 30px;
    -webkit-box-shadow: -2px -1px 7px 2px #2524242b;
    box-shadow: -2px -1px 7px 2px #2524242b;
}

.why_us li {
    font-size: 18px;
}

.checklist li {
    position: relative;
    padding-left: 30px;
    line-height: 1.4;
    color: #4e4e4e;
    margin: 7px 0;
    font-family: "Segoe UI Regular";
    font-size: 16px;
}

.checklist li:before {
    content: "";
    height: 18px;
    width: 18px;
    left: 0;
    top: 5px;
    background: url(../images/tick.svg) no-repeat center top;
    position: absolute;
}

.advantage {
    margin-top: 30px;
    -webkit-box-shadow: -2px -1px 7px 2px #2524242b;
    box-shadow: -2px -1px 7px 2px #2524242b;
    border-radius: 0;
}

.advantage .checklist li {
    margin: 12px 0;
}

.advantage .checklist li:before {
    content: "";
    height: 5px;
    width: 5px;
    top: 9px;
    background: #1a1a1a;
}

.intro {
    text-align: center;
    padding: 30px 40px;
}

.footer {
    background: #253754f0;
    margin-top: 70px;
    padding: 30px;
    color: #ddd;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
}

.footer ul li {
    padding: 0 12px;
    font-size: 14px;
    line-height: 12px;
    border-left: 1px solid #ccc;
    color: #ddd;
}

.footer ul li:first-child {
    border-left: 0;
    padding-left: 0;
}

.footer ul li a {
    color: #ddd;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.vehicle-select input[type="checkbox"],
.vehicle-select input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 2px 0 2px 7px;
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
    right: 4px;
}

.vehicle-select iframe {
    width: 100%;
    height: 150px;
}

.vehicle-select h4 {
    font-size: 16px;
    font-family: "Segoe UI Medium", sans-serif;
    color: #eaeaea;
    margin-top: 20px;
}

.vehicle-select .fleet_price {
    background: #344a6d;
    padding: 10px 15px;
    border: 1px solid #33507d;
    margin-bottom: 15px;
    border-radius: 10px;
}

.vehicle-select .fleet_price img {
    filter: invert(1) brightness(2);
}

.vehicle-select .fleet_price h5 {
    color: #eff0f1;
    font-size: 18px;
    margin-bottom: 10px;
}

.vehicle-select .fleet_price p {
    font-size: 13px;
    color: #d2d2d2;
    margin-top: 4px;
    margin-bottom: 0;
}

.vehicle-select .btn-main {
    font-family: "Arial", sans-serif;
    padding: 11px;
    margin: 4px 0;
    background: #ffc107 !important;
    width: 145px;
    letter-spacing: 0;
    font-weight: 500;
    float: right;
    border-radius: 5px;
    color: #171717;
    font-weight: 600;
    padding: 9px 10px;
    height: 45px;
    font-size: 14px;
}

.vehicle-select .btn-main:hover,
.vehicle-select .btn-main.checked {
    background-color: #ffc107 !important;
}

.button-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.button-inline .btn-main {
    font-family: "Arial", sans-serif;
    background: #0077cc !important;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    color: #eee;
    padding: 12px 10px;
    border-radius: 6px;
    margin: 10px 0px 0;
    height: inherit;
}

.button-inline .btn-main:hover,
.button-inline .btn-main:focus {
    background: #0077cc !important;
}

.btn-main {
    font-family: "Arial", sans-serif;
    padding: 13px;
    margin: 4px 0;
    background: #0077cc !important;
    border-radius: 2px;
}

.btn-main:hover,
.btn-main.checked {
    background-color: #0077cc !important;
}

.journey-info {
    background: transparent;
    margin-bottom: 5px;
}

.journey {
    background: #07c;
    border-radius: 8px;
    color: #fff;
    padding: 12px 15px;
    display: flex;
    margin-bottom: 5px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.journey:after {
    position: absolute;
    left: 30px;
    top: 100%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #07c;
    content: "";
}

.journey:last-child:after {
    display: none;
}

.journey h2 a i {
    color: #fff;
}

.journey h2 a {
    position: absolute;
    right: 15px;
}

.journey h2 {
    color: #fefefe !important;
}

.journey h2 span {
    font-family: "Segoe UI Semi Bold";
    margin-right: 10px;
}

.journey-info .col-md-3 h2 {
    height: 100%;
}

.journey-info .col-md-9 h2 {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 4px 0;
}

.journey-info .row:nth-child(even) h2 span {
    border-bottom: 0;
}

.journey-info .col-md-3 h2 span {
    height: 100%;
}

.journey-info h2 {
    margin: 0;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 16px;
}

.btn_main {
    padding: 8px 20px;
    border-radius: 0;
    background: #3c557d;
    font-size: 18px;
    color: #fff;
    font-family: "Segoe UI Semi Bold", sans-serif;
}

.btn_main:hover {
    background: #3c557d;
}

.btn_main span {
    float: right;
}

.card-wrapper {
    background: #3c557d;
    padding: 20px;
    color: #eee;
}

.card-wrapper p {
    margin: 0;
    font-family: "Segoe UI Medium", sans-serif;
}

.confirm-booking .btn-main {
    float: none;
    background: #07c !important;
    width: 100%;
    color: #fff;
    height: inherit;
    padding: 14px 15px;
}

.journey-details .form-group {
    background: #1c2c46;
    margin-bottom: 0;
    padding: 10px 15px 5px;
    position: relative;
}

.journey-details .form-group:last-child {
    padding-bottom: 15px;
}

textarea {
    height: auto !important;
}

.inner-pg {
    min-height: 86vh;
}

.inner-pg h1 {
    font-size: 30px;
}

.inner-pg .main-intro {
    margin-top: 70px;
}

.inner-pg .area ul {
    -webkit-column-count: 4;
    column-count: 4;
    margin-top: 20px;
}

.inner-pg .checklist li:before {
    content: "";
    height: 5px;
    width: 5px;
    top: 9px;
    background: #1a1a1a;
}

.inner-pg .contact li {
    margin-top: 5px;
}

.inner-pg .contact li img {
    width: 15px;
}

.inner-pg table.table {
    margin-top: 15px;
}

.inner-pg table.table thead th {
    border-top: none;
    padding: 10px 9px;
    background: #0077cc;
    color: #eee;
}

.inner-pg table.table .btn {
    margin: 0 !important;
    padding: 10px 15px !important;
}

.inner-pg table.table tbody {
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.14);
}

.inner-pg table.table tbody th,
.inner-pg table.table tbody td {
    font-weight: 600;
    color: #2a2a2a;
    font-family: "Segoe UI Bold", sans-serif !important;
    padding: 8px 8px;
    vertical-align: middle;
}

.contact-form a {
    color: #eee !important;
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 8px;
}

.contact-form hr {
    margin: 8px 0;
}

.contact-form p {
    margin-bottom: 0;
    color: #aeaeae;
}

.contact-form .form-group {
    padding-bottom: 15px;
}

.blog-item {
    margin: 15px 0;
    background: #fff;
    padding: 15px;
}

.blog-item figure {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}

.blog-item figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blog-item h4 {
    color: #0077cc;
}

.blog-item p {
    color: #1a1a1a;
    margin-bottom: 7px;
    font-family: "Segoe UI SemiLight", sans-serif;
}

.blog-item .btn-main {
    padding: 12px 25px;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
}

.blog-details .blog-item figure {
    margin-bottom: 20px;
}

#accordion .card-header {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}

#accordion .btn {
    margin: 0;
    display: inline-block;
    color: #0077cc;
    padding: 12px 0px;
    font-size: 18px;
    font-family: "Segoe UI Bold", sans-serif;
}

#accordion .btn i {
    margin-left: 8px;
}

#accordion .card-body {
    padding: 5px 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-family: "Segoe UI SemiLight", sans-serif;
}

.dashboard .contact-form {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    margin-top: 15px;
}

.dashboard .contact-form .form-group {
    background: #fff;
}

.dashboard .contact-form .form-control {
    background: #f8f8f8;
}

.dashboard .contact-form .btn {
    margin-top: 0;
    margin: 15px;
    color: #fff;
}

.dashboard .widget {
    padding: 0;
}

.dashboard .widget .dash-nav a {
    color: #cecece;
    display: block;
    padding: 11px 20px;
    font-size: 17px;
}

.dashboard .widget .dash-nav a:hover {
    text-decoration: none !important;
    background: #0077cc;
}

.dashboard .widget .dash-nav a.active {
    background: #0077cc;
}

.dashboard .widget .dash-nav a i {
    margin-right: 7px;
}

.whats_app_chat {
    position: fixed;
    right: 23px;
    bottom: 125px;
    z-index: 999999;
}

.whats_app_chat svg {
    height: 50px !important;
    width: 50px !important;
}

.btn-main {
    padding: 13px 25px;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
}

.blog-details .blog-item figure {
    margin-bottom: 20px;
}

#accordion .card-header {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}

#accordion .btn {
    margin: 0;
    display: inline-block;
    color: #0077cc;
    padding: 12px 0px;
    font-size: 18px;
    font-family: "Segoe UI Bold", sans-serif;
}

#accordion .btn i {
    margin-left: 8px;
}

#accordion .card-body {
    padding: 5px 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-family: "Segoe UI SemiLight", sans-serif;
}

.dashboard .contact-form {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    margin-top: 15px;
}

.dashboard .contact-form .form-group {
    background: #fff;
}

.dashboard .contact-form .form-control {
    background: #f8f8f8;
}

.dashboard .contact-form .btn {
    margin-top: 0;
    margin: 15px;
    color: #fff;
}

.dashboard .widget {
    padding: 0;
}

.dashboard .widget .dash-nav a {
    color: #cecece;
    display: block;
    padding: 11px 20px;
    font-size: 17px;
}

.dashboard .widget .dash-nav a:hover {
    text-decoration: none !important;
    background: #0077cc;
}

.dashboard .widget .dash-nav a.active {
    background: #0077cc;
}

.dashboard .widget .dash-nav a i {
    margin-right: 7px;
}

.whats_app_chat {
    position: fixed;
    right: 13px;
    bottom: 95px;
    z-index: 999999;
}

.whats_app_chat svg {
    height: 60px;
    width: 60px;
}

[data-tooltip] {
    position: absolute;
    right: 35px;
    z-index: 9999;
}

[data-tooltip]::before,
[data-tooltip]::after {
    opacity: 0;
    visibility: hidden;
    margin-top: -0.5em;
}

[data-tooltip]::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    top: -200%;
    left: 50%;
    margin-left: -4.75em;
    min-width: 250px;
    text-align: center;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.85);
    color: #ccc;
    font-size: 12px;
    line-height: 1.1;
    padding: 0.75em 0.95em;
}

[data-tooltip]::after {
    content: "";
    border: 10px solid transparent;
    border-top-color: black;
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -10px;
}

[data-tooltip]:hover {
    cursor: help;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

.info-text {
    position: relative;
}

.info-text span img {
    width: 20px;
}

.info-text span {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
}

.hidden-text {
    display: none;
    color: #ccc;
    font-size: 13px;
}

.info {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 750ms;
    transition: -webkit-transform 750ms;
    transition: transform 750ms;
    transition: transform 750ms, -webkit-transform 750ms;
}

.info.rotate {
    -webkit-transition: -webkit-transform 750ms;
    transition: -webkit-transform 750ms;
    transition: transform 750ms;
    transition: transform 750ms, -webkit-transform 750ms;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}


/*# sourceMappingURL=master.css.map */

.map-canvas {
    width: 100%;
    height: 140px;
}

.map-canvas img {
    max-width: inherit !important;
}

.error {
    color: #fe5b54;
}

label.error {
    display: none !important;
}

form input.error,
form select.error {
    border: 2px solid #ff0000 !important;
}

.error-tab {
    position: absolute;
    top: -9px;
    right: 0;
    background: #fe5b54;
    border-radius: 100%;
    height: 20px;
    font-size: 13px;
    width: 20px;
    padding: 2px 0px 0px 3px;
    color: #fff;
    animation: beat 0.75s infinite alternate;
    transform-origin: center;
}

.is_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm-edit-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 9;
}

.journey-info,
.card-wrapper {
    position: relative;
}

.card-wrapper .confirm-edit-btn.cancel {
    bottom: 5px;
    top: auto;
    right: 15px;
}

.card-wrapper .confirm-edit-btn i {
    color: #eaeaea;
}

.inner-pg .widget {
    position: sticky;
    top: 0;
    padding: 15px 10px 30px;
}

.intl-tel-input {
    width: 100%;
}

.split-journey {
    margin-top: 15px;
}

.full-page-loader {
    position: fixed;
    background: rgba(28, 44, 70, 0.76);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.full-page-loader svg {
    width: 120px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.my_card {
    margin-bottom: 10px;
    background: #00000024;
    padding: 14px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
}

.my_card .info-text {
    position: static;
    right: 10px;
    top: 10px;
}

.my_card .info-text span {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.my_card h4 {
    margin: 0 0 8px;
}

.my_card h5 {
    font-size: 15px;
    color: #ffffffd6;
    margin: 0 0 5px;
}

.my_card p {
    color: #ffffff73;
    margin: 0;
}

.g-recaptcha {
    margin: 10px 0 0 !important;
    padding: 15px;
    background: #1c2c46;
}

.thank-you {
    padding-top: 100px;
}

.location-suggestion-container p {
    margin: 0;
    padding: 12px 20px;
    font-size: 14px;
    font-family: "Segoe UI Semi Bold";
    color: #000000;
}

ul.validation label.error {
    padding: 10px 0;
    margin: 0;
    font-family: "Segoe UI Semi Bold";
    color: #fe5b54;
    background: #1c2c46;
}

ul.validation {
    margin: 0;
    padding: 0;
    background: #2c2c2c;
    position: absolute;
    z-index: 99;
    width: calc(100% - 30px);
    right: 0;
    left: 0;
    margin: 0 auto;
    color: #fff;
}

ul.validation li i {
    position: absolute;
    left: 10px;
    font-size: 14px;
    color: #ffc800;
    top: 12px;
}

.form-information-guidance p i {
    color: #0077cc;
    margin-right: 5px;
}

.form-information-guidance p {
    padding: 5px 15px;
    margin: 0;
    color: #dcdcdc;
}

.form-information-guidance {
    background: #253754;
    color: #fff;
    font-size: 13px;
}

ul.validation li {
    list-style: none;
    padding: 8px 9px;
    line-height: 18px;
    padding-left: 36px;
    font-size: 14px;
    font-family: "Segoe UI Semi Bold";
    color: #f0f0f0;
    position: relative;
}

.remove_field {
    position: absolute;
    right: 25px;
    top: 50px;
}

.location-suggestion-container i {
    color: #ffc800;
    font-size: 16px;
    margin-right: 14px;
}

.location-suggestion-container {
    background: #f1f1f1;
}

.advice {
    color: #fff;
    font-size: 14px;
    margin: 0;
    border-radius: 4px;
    /* margin-bottom: 50px; */
    font-family: "Segoe UI Bold";
}

.advice p {
    padding: 15px 22px;
    margin-bottom: 0;
}

.advice.info {
    background-color: #03a9f4;
}

.advice.success {
    background-color: #009688;
}

.advice.error {
    background-color: #b93b26;
}

.journey-details .form-information-guidance p {
    padding-bottom: 12px;
}

.journey-details .form-information-guidance {
    background: #1c2c46;
}

.checkmark label a {
    color: #fff;
    text-decoration: underline;
}

.checkmark label {
    margin-left: 20px;
    margin-top: 4px;
    color: #eee;
}

.checkmark {
    display: flex;
    margin-top: 8px;
}

.cookies {
    width: 100%;
    background: #4a4a4a;
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    vertical-align: baseline;
    border-top: 1px solid #ffffff4a;
    text-align: center;
    padding: 15px 0;
}

.cookies p {
    margin: 0;
    font-size: 14px;
    color: #efefef;
}

.cookies h4 {
    margin: 8px 0 0;
    font-size: 16px;
}

.cookies h4 a {
    font-family: 'Segoe UI Bold';
    text-decoration: none;
    color: #ebeded;
    background: #0077cc;
    padding: 5px 24px;
    margin-top: 0px;
    display: inline-block;
    border-radius: 4px;
}

.cookies a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 15px;
    text-transform: capitalize;
    padding-left: 10px;
}

.head-banner p a {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
}

.head-banner p {
    margin: 0;
    color: #fff;
    font-size: 15px;
}

.head-banner h4 {
    color: #fff;
    font-family: "Segoe UI Medium";
}

.head-banner .close {
    position: absolute;
    right: 6%;
    top: 14px;
    color: #fff;
    box-shadow: none;
    opacity: 0.85;
}

.head-banner {
    background: #07c;
    padding: 15px 0;
    position: relative;
}

.form-information-guidance a {
    color: #fff;
}

#booking-info-form label select {
    text-indent: 5px;
    min-height: 40px;
    font-weight: 600;
}

header .navbar .close {
    position: fixed;
    top: 20px;
    right: 15px;
    opacity: 1;
}

.client-info .list-inline {
    display: flex;
}


/* QUOTE AUTOCOMPLETE */

.auto-icon-marker {
    background-position: -1px -161px;
}

.auto-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px;
}

.ui-menu-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999;
}

.auto-item-query {
    font-size: 13px;
    padding-right: 5px;
    color: #000;
}

.auto-matched {
    font-weight: 700;
}

.ui-menu {
    max-height: 200px;
    overflow-y: scroll;
}


/* width */

.ui-menu::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.ui-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.ui-menu::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.ui-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#cc_c2a {
    z-index: 22 !important;
}
#apply-discount {
    background: #ffc107;
    border-color: #ffbf00;
    font-weight: 800;
    font-size: 15px;
    color: #000;
}

.form-group .addon-right {
    position: absolute;
    right: 25px;
    top: 48px;
}
.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}