@media only screen and (max-width: 1330px) {
}

@media (max-width: 768px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1155px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
}

@media (min-width: 900px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 899px) {
}

@media only screen and (min-width: 1025px) {
    .cstm-drop {
        display: none !important;
    }
    header .dropdown:hover .dropdown-menu {
        display: block !important;
    }
}
@media only screen and (max-width: 1024px) {
    .button-inline .btn-main {
        order: -1;
        margin-bottom: 15px;
    }
    .col-md-5,
    .col-md-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fleet_sec {
        margin-top: 30px;
    }
    .col-md-8,
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .journey-info .col-md-9,
    .journey-info .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .inner-pg .offset-md-4 {
        margin-left: 0%;
    }
    .col-md-12 > .main-intro.card {
        margin-top: 120px !important;
    }
    .widget,
    .inner-pg .main-intro {
        margin-top: 50px !important;
        
    }
    .blog .card.main-intro {
        margin-top: 120px !important;
    }
    .blog .col-md-4 .card.main-intro {
        margin-top: 30px !important;
    }
    .main-intro.card {
        margin-top: 30px !important;
    }
    .main-intro.contact.card {
        margin-top: 30px !important;
    }
    .inner-pg .main-intro {
        margin-top: 30px;
    }
    .nav-right h4,
    .nav-right .cta {
        display: none;
    }
    .navbar-collapse {
        position: fixed;
        left: 0px;
        right: 0px;
        padding: 0px 30px;
        background: rgb(255, 255, 255);
        top: 90px;
        text-align: left;
        padding-bottom: 30px;
    }
    header {
        padding: 15px 0;
    }
    .navbar.navbar-light .navbar-toggler {
        color: #000;
        margin-top: 15px;
    }
    header .logo {
        margin: 0;
        margin-top: 0;
        text-align: center;
    }
    .nav-right .navbar .nav-link {
        font-size: 20px;
        margin-left: 20px;
        padding: 8px 10px;
        font-family: "Segoe UI Medium", sans-serif;
    }
    .footer {
        position: static;
    }
    body {
        padding-bottom: 0;
    }
    .intro {
        text-align: center;
        padding: 30px 20px;
    }
    .footer ul {
        flex-wrap: wrap;
    }
    .footer ul li {
        padding: 13px 10px;
        border: none !important;
    }
    body {
        background-attachment: inherit;
    }
    header .col-md-3 {
        width: 75%;
    }
    header .logo img {
        width: 220px;
    }
    .navbar.navbar-light .navbar-toggler {
        margin-top: 20px;
    }
    .navbar-collapse {
        top: 80px;
    }
    /* .nav-right {
        margin-top: -68px;
    } */

    .navbar.navbar-light .navbar-toggler {
        margin-top: 10px;
    }

    .nav-right .navbar .nav-link {
        font-size: 19px;
        margin-left: 0;
        padding: 8px 0px;
        font-family: "Segoe UI Medium", sans-serif;
    }
    .footer ul li {
        padding: 7px 6px;
        border: none !important;
    }
    .widget .btn {
        width: 100%;
    }
    .footer {
        margin-top: 70px;
        padding: 30px 0;
    }
    .navbar-collapse {
        box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.09);
    }
    .inner-pg .area ul {
        column-count: 1;
    }
    h1 {
        font-size: 32px;
        font-family: "Segoe UI Medium", sans-serif;
    }
    h2 {
        font-size: 26px;
    }
    .blog-item {
        margin: 15px 0;
        background: #fff;
        padding: 15px 15px;
    }

    .fleet_price .col-md-5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .journey-info .row {
        margin-bottom: 20px;
    }
    .journey{
        display: block;
    }
    .journey-info .col-md-9 h2 {
        margin-top: 10px;
        padding: 0 20px !important;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .widget .payment_card img {
        height: 35px;
    }
    .widget .btn.btn-default {
        margin: 0;
    }
    #booking-info-form-two > .button-inline,
    #booking-info-form > .button-inline,
    #choose-vehicle > .button-inline,
    #quote-form > .button-inline {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .footer {
        margin-top: 40px;
        padding: 30px 0;
        position: static;
    }
    .vehicle-select .btn-main {
        color: #ffffff;
        height: inherit;
    }
    .fleet_price .row div[class*="col-"] {
        padding: 0 8px;
        flex: 0 0 50%;
        display: block;
    }
    .fleet_price .row {
        flex-wrap: nowrap;
    }
    .widget {
        padding: 15px 10px;
    }
    .btn-main {
        width: 100% !important;
        float: none !important;
    }
    .dashboard .widget {
        height: inherit;
        padding: 0;
    }
    .dashboard .main-intro.card {
        margin: 0 !important;
    }
    .dashboard .contact-form .btn {
        margin-top: 0;
        margin: 15px;
        color: #fff;
        width: 100% !important;
        margin: 0;
    }
    .dashboard .contact-form {
        margin-bottom: 40px;
    }
    .form-group .form-control {
        background: #e8e8e8 !important;
        height: 40px !important;
        font-size: 16px;
        color: #1a1a1a;
        font-family: "Segoe UI Medium", sans-serif;
    }
    .advantage .checklist li:before {
        left: 8px;
    }
    .card {
        padding: 30px 15px;
    }
    .dash-header .row {
        flex-wrap: wrap;
    }
    .dash-m-body {
        min-height: inherit;
        padding: 30px;
        margin: 30px 0;
    }
    .dshbd-ft-end {
        text-align: center;
    }
    .dash-body .profile .row {
        display: flex;
        flex-wrap: wrap;
    }
    .dash-body .is_flex .btn {
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .dash-body .is_flex {
        flex-wrap: wrap;
    }
    .dash-body .profile .row .col-md-4 {
        order: -1;
    }
    .dash-header .row .col-md-4:first-child {
        display: none;
    }
    .dash-header .top-acc {
        margin-top: -35px;
    }
    .dash-header .logo a {
        margin-top: 12px;
        display: block;
    }
    .main-body {
        min-height: 77vh;
    }
    .dash-body .card-wrapper {
        padding: 0;
    }
    .dash-body {
        padding: 0;
        margin-top: 15px;
    }
    #quote-component .button-inline {
        flex-wrap: wrap;
    }
    .widget .btn.btn-default {
        margin-bottom: 5px !important;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .nav-item.dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cstm-drop {
        height: 40px;
        width: 40px;
        background: #07c;
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
    .inner-pg.thank-you {
        padding-top: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .account_nav{
        display: none;
    }
    .navbar .close{
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-attachment: inherit;
    }
    header .col-md-3 {
        width: 100%;
    }
    header .logo img {
        width: auto;
        height: 55px;
    }
    .navbar.navbar-light .navbar-toggler {
        margin-top: 20px;
    }
    .navbar-collapse {
        top: 0;
        z-index: 999;
        bottom: 0;
        padding-top: 25px;
    }
    /* .nav-right {
        margin-top: -68px;
    } */
    .nav-right .navbar .nav-link {
        font-size: 19px;
        margin-left: 0;
        padding: 8px 0px;
        font-family: "Segoe UI Medium", sans-serif;
    }
    .footer ul li {
        padding: 7px 6px;
        border: none !important;
    }
    .widget .btn {
        width: 100%;
    }
    .footer {
        margin-top: 70px;
        padding: 30px 0;
    }
    .navbar-collapse {
        box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.09);
    }
    .inner-pg .area ul {
        column-count: 1;
    }
    h1 {
        font-size: 32px;
        font-family: "Segoe UI Medium", sans-serif;
    }
    h2 {
        font-size: 26px;
    }
    .blog-item {
        margin: 15px 0;
        background: #fff;
        padding: 15px 15px;
    }

    .fleet_price .col-md-5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .journey-info .row {
        margin-bottom: 20px;
    }
    .journey-info .col-md-9 h2 {
        margin-top: 10px;
        padding: 0 20px !important;
    }
    .widget .payment_card img {
        height: 35px;
    }
    .widget .btn.btn-default {
        margin: 0;
    }
    #booking-info-form-two > .button-inline,
    #booking-info-form > .button-inline,
    #choose-vehicle > .button-inline,
    #quote-form > .button-inline {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .footer {
        margin-top: 40px;
        padding: 30px 0;
        position: static;
    }
    .vehicle-select .btn-main {
        color: #ffffff;
        height: inherit;
    }
    .fleet_price .row div[class*="col-"] {
        padding: 0 8px;
        flex: 0 0 50%;
        display: block;
    }
    .fleet_price .row {
        flex-wrap: nowrap;
    }
    .widget {
        padding: 15px 10px;
    }
    .btn-main {
        width: 100% !important;
        float: none !important;
    }
    .dashboard .widget {
        height: inherit;
        padding: 0;
    }
    .dashboard .main-intro.card {
        margin: 0 !important;
    }
    .dashboard .contact-form .btn {
        margin-top: 0;
        margin: 15px;
        color: #fff;
        width: 100% !important;
        margin: 0;
    }
    .dashboard .contact-form {
        margin-bottom: 40px;
    }
    .form-group .form-control {
        background: #e8e8e8 !important;
        height: 40px !important;
        font-size: 16px;
        color: #1a1a1a;
        font-family: "Segoe UI Medium", sans-serif;
    }
    .advantage .checklist li:before {
        left: 8px;
    }
    .card {
        padding: 30px 15px;
    }
    .dash-header .row {
        flex-wrap: wrap;
    }
    .dash-m-body {
        min-height: inherit;
        padding: 30px;
        margin: 30px 0;
    }
    .dshbd-ft-end {
        text-align: center;
    }
    .dash-body .profile .row {
        display: flex;
        flex-wrap: wrap;
    }
    .dash-body .is_flex .btn {
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .dash-body .is_flex {
        flex-wrap: wrap;
    }
    .dash-body .profile .row .col-md-4 {
        order: -1;
    }
    .dash-header .row .col-md-4:first-child {
        display: none;
    }
    .dash-header .top-acc {
        margin-top: -35px;
    }
    .dash-header .logo a {
        margin-top: 12px;
        display: block;
    }
    .main-body {
        min-height: 77vh;
    }
    .dash-body .card-wrapper {
        padding: 0;
    }
    .dash-body {
        padding: 0;
        margin-top: 15px;
    }
    #quote-component .button-inline {
        flex-wrap: wrap;
    }
    .widget .btn.btn-default {
        margin-bottom: 5px !important;
    }
    header .row {
        display: flex;
        flex-wrap: wrap;
    }
    .account_option{
        margin: 0;
        margin-top: 10px;
        width: 75%;
        display: flex;
        align-items: center;
    }
    .nav-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .account_option a  {
        display: block;
        margin-right: 10px;
        margin-top: 2px;
    }
    .account_option a  i{
        font-size: 24px;
    }
    .account_option a strong{
        display: none;
    }
    header .row .navbar-toggler {
        margin: 10px 0 0;
    }
    .navbar.navbar-light .navbar-toggler {
        margin-top: 10px;
    }
    .widget .is_flex .btn.btn-default {
        margin-right: 8px;
        margin-top: 10px;
    }
    .widget .is_flex .btn.btn-default:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 375px) {
}
